body {
  background-color: #FCFCFC;
}

.wrap-item {
  margin-bottom: 2rem;
}

.album-item {
  display: inline-block;
  margin: 0.5rem 0.5rem;
  text-align: center;
}
.album-item img {
  width: 96px;
  height: 96px;
  display: block;
  margin: 0.5rem auto;
}
